VITE_APP_URL="http://localhost:8000"
VITE_API_BASE_URL="/api"
VITE_API_TIMEOUT="15000"
VITE_API_WITH_CREDENTIALS="false"
VITE_API_PRODUCTS_PATH="/products"
VITE_API_CATEGORIES_PATH="/categories"
VITE_API_LOGIN_PATH="/auth/login"
VITE_API_ORDERS_PATH="/orders"
